@charset "iso-8859-1";
/* CSS Document */

input {
	border:1px solid #999;
	height:21px;
	line-height:21px;
	font-size:16px;
	color: #666;
}

label {
	float:left;
	height:21px;
	line-height:21px;
	width:60px;
}

.bt_normal {
		width:auto;
		height:auto;
}

fieldset{
	color: #666;
	font-family: Verdana, Geneva, sans-serif;
	font-size:16px;
}

#conteudo_principal label{
	width: 130px;	
}
					 
					 
.borda_imagem{
    
   
    border-width:0px;    
    background-color: #ffffff;    
    background-image: #ffffff;        

}

